.container {
  max-height: 960px;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding: 20px;

  border-bottom: 1px solid var(--color-slate200);
  margin-bottom: 30px;
}

.logo {
  display: inline-flex;
  align-items: center;
  padding-left: 5%;
}

.logoIcon {
  display: block;
}
.logoText {
  display: none;
}

@media (min-width: 768px) {
  .header {
    padding-left: 5%;
  }
  .logoIcon {
    display: none;
  }
  .logoText {
    display: block;
  }
}

@media (min-width: 1024px) {
  .header {
    padding-left: 10%;
  }
}

@media (min-width: 1440px) {
  .header {
    padding-left: 18%;
  }
}
