.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  text-align: center;
}

.code {
  font-size: 50px;
}

.text {
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.buttons button {
  padding: 8px 15px;
  border: 1px solid var(--color-slate900);
  background: transparent;
  cursor: pointer;
}
