.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 40px 0;
  text-align: center;
}

.coment {
  font-size: 14px;
  color: var(--color-slate400);
  white-space: pre-line;
}
