.container {
  display: flex;
  flex-direction: column;
  max-width: 996px;
  width: 90%;
  gap: 20px;
  margin: 0 auto;
  padding: 30px;
}

.todoCheck {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  border: 2px solid var(--color-slate900);
  border-radius: 50px;

  background-color: white;
}

.completed .todoCheck {
  background-color: var(--color-violet100);
}

.todoCheck > button {
  width: 32px;
  height: 32px;

  border: none;
  padding: 0;

  background-color: transparent;
  background-image: url("/icons/todoBtn.png");
  background-size: contain;

  cursor: pointer;
}

.completed .todoCheck > button {
  background-image: url("/icons/doneBtn.png");
}

.todoContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.image {
  position: relative;
  width: 100%;
  min-height: 311px;

  border: 3px dashed var(--color-slate300);
  border-radius: 18px;
  padding: 18px;

  background-color: var(--color-slate50);
  background-image: url("/imgs/img.png");
  background-repeat: no-repeat;
  background-position: center;

  overflow: hidden;
}

.hasImage {
  background-image: none;
  border: none;
}

.preview {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.imageActionBtn {
  position: absolute;
  right: 16px;
  bottom: 16px;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;

  background-color: var(--color-slate200);
  background-image: url("/icons/plusBtnG.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.hasImage .imageActionBtn {
  border: 1px solid var(--color-slate900);
  background: #0f172a80;
  background-image: url("/icons/edit.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.fileInput {
  display: none;
}

.imageActionBtn img {
  width: 20px;
  height: 20px;
}

.memo {
  width: 100%;
  min-height: 311px;

  border-radius: 18px;
  padding: 18px;

  background-image: url("/icons/memo.png");
  color: var(--color-amber800);
  font-weight: bold;
  text-align: center;
}

.memo > textarea {
  width: 100%;
  height: 100%;
  min-height: 200px;

  background: transparent;
  border: none;
  outline: none;
  resize: none;

  font-size: 14px;
  line-height: 1.8;
  color: #333;

  padding: 0;
  margin-top: 12px;

  -webkit-text-size-adjust: 100%;
}

.btns {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.editBtn,
.deleteBtn {
  width: 168px;
  border: 2px solid var(--color-slate900);
  border-radius: 50px;

  box-shadow: 2px 4px 0 var(--color-slate900);

  padding: 10px;
  font-size: 17px;
  cursor: pointer;
}

.editBtn {
  background-color: var(--color-slate100);
}

.completed .editBtn {
  background-color: var(--color-lime300);
}

.deleteBtn {
  background-color: var(--color-rose500);
  color: white;
}

@media (min-width: 1024px) {
  .content {
    flex-direction: row;
    align-items: stretch;
  }

  .image {
    flex: 0 0 384px;
  }

  .memo {
    flex: 1;
  }

  .btns {
    justify-content: end;
  }
}
