.container {
    display: flex;
    align-items: center;
    gap: 15px;

    width: 100%;
    padding: 6px 6px;

    background-color: white;
    border-radius: 50px;
    border: 1.8px solid var(--color-slate900);

    margin-bottom: 13px;
}

.container.completed {
    background-color: var(--color-violet100);
}

.checkButton {
    width: 23px;
    height: 23px;

    border: none;
    padding: 0;

    background-color: transparent;
    background-image: url("/icons/todoBtn.png");
    background-size: contain;

    cursor: pointer;
}

.completed .checkButton {
    background-image: url("/icons/doneBtn.png");
}

.name {
    flex: 1;
    text-decoration: none;
    
    font-size: 14px;
    line-height: 1.4;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.completed .name {
    text-decoration: line-through;
}